.home .logo2 {
    position: fixed;
    z-index: 90;
    left: calc(38%);
    top: -15px;
    width: 90px;
    height: 100px;
    transform: translate(0px, 0%);
}

/*header fijo*/
.header2{
    background-color: var(--dark-brown) !important;
}

/*header device*/
.header3{
    background-color: var(--dark-brown) !important;
}