.home .logo2 {
    position: fixed;
    z-index: 90;
    left: calc(38%);
    top: -15px;
    width: 90px;
    height: 100px;
    transform: translate(0px, 0%);
}


/*header fijo*/

.header2 {
    background-color: var(--dark-brown) !important;
}


/*header device*/

.header3 {
    background-color: var(--dark-brown) !important;
}

.titlePage2 {
    padding-top: 0;
    position: sticky;
    z-index: 99;
    top: -5px;
    left: calc(28%);
    text-align: center;
    transition: all 2s 1 ease;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: auto;
}