.inicio{
    width: 100w;
    height: 100vh;
    background-color: var(--white);
    display: block;
    position: relative
}





.inicio .logo {
    position: relative;
    z-index: 9;
    height: 230px;
    display: block;
    margin: calc(50%) auto;
    width: auto;
}

@media(min-width:768px){
    .inicio .logo {
        position: relative;
        z-index: 9;
        height: 230px;
        display: block;
        margin: calc(25%) auto;
        width: auto;
    }
}
