.inicio{
    width: 100w;
    height: 100vh;
    background-color: var(--white);
    display: block;
    position: relative
}



.inicio .logo{
    
    
    position: absolute;
    z-index: 9;
    left: calc(33%);
    width: 230px;
    height: 230px;
    transform: translate(-20%, 120%);
}
