.statusOrder{
    
}
.statusOrder .info-product {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 90%;
    display: block;
    margin: auto;
}
.statusOrder .cuadro-modal {
    bottom: -40%;
    transform: translate(0px, 0%);
    background-color: var(--lighter-brown);
    padding: 20px;
    height: 100vh;
}

.statusOrder.productPage .product-item {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    width: 55%;
    display: block;
    margin: auto;
    transform: translate(0px, 0%);
}


.pedidosPrincipal {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.pedidosPrincipaldiv1 { grid-area: 1 / 1 / 2 / 2; }
.pedidosPrincipaldiv2 { 
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 0px;
    margin-left: -15px;
    
}

.pedidosPrincipaldiv2 h1{
    color: var(--lighter-brown);
     border-left: 3px solid var(--light-brown);
    padding-left: 10px;
    font-size: 26px;
    font-weight: 600;
}

.pedidosPrincipaldiv2 h2{
    color: var(--lighter-brown);
     border-left: 3px solid var(--light-brown);
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
}

.pedidosPrincipaldiv2 h3{
    color: var(--lighter-brown);
     border-left: 3px solid var(--light-brown);
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
}

.pedidosPrincipaldiv2 p{
    color: var(--lighter-brown);
     border-left: 3px solid var(--light-brown);
    padding-left: 10px;
    font-size: 16px;
    font-weight: 200;
}


.pedidoResumen {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(50%, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 0px 7px 6px #ccc;
    padding-bottom: 15px;
}

.pedidoResumendiv1 { grid-area: 1 / 1 / 3 / 2; }
.pedidoResumendiv2 { grid-area: 1 / 2 / 2 / 3; }
.pedidoResumendiv3 { grid-area: 2 / 2 / 3 / 3; }
.pedidoResumendiv4 { grid-area: 1 / 3 / 2 / 4; }
.pedidoResumendiv5 { grid-area: 2 / 3 / 3 / 4; }



.rating {
    float: left;
    width: 300px;
    position: relative;
    display: flex;
    left: -90px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
