.productPage {
    width: 100w;
    height: 100vh;
    display: block;
    -webkit-animation: productanimation 1s 1 ease;
    -moz-animation: productanimation 1s 1 ease;
    -o-animation: productanimation 1s 1 ease;
    -ms-animation: productanimation 1s 1 ease;
    animation: productanimation 1s 1 ease;
    background-color: var(--dark-brown);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
    background: rgb(125, 185, 232);
    /* Old browsers */
    background: -moz-linear-gradient(top, #3c2415) -10%, #000000 70%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3c2415 -10%, #000000 70%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3c2415 -10%, #000000 70%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
    /* IE6-9 */
}

@keyframes productanimation {
    0% {
        background: #3c2415;
        /* Old browsers */
        background: -moz-radial-gradient(top, ellipse cover, #3c2415 0%, #000000 60%, #000000 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(top, ellipse cover, #3c2415 0%, #000000 60%, #000000 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at top, #3c2415 0%, #000000 60%, #000000 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c2415', endColorstr='#000000', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    100% {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
        background: rgb(125, 185, 232);
        /* Old browsers */
        background: -moz-linear-gradient(top, #3c2415) -10%, #000000 70%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3c2415 -10%, #000000 70%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3c2415 -10%, #000000 70%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
        /* IE6-9 */
    }
}

@-webkit-keyframes productanimation {
    0% {
        background: #3c2415;
        /* Old browsers */
        background: -moz-radial-gradient(top, ellipse cover, #3c2415 0%, #000000 60%, #000000 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(top, ellipse cover, #3c2415 0%, #000000 60%, #000000 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at top, #3c2415 0%, #000000 60%, #000000 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c2415', endColorstr='#000000', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    100% {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
        background: rgb(125, 185, 232);
        /* Old browsers */
        background: -moz-linear-gradient(top, #3c2415) -10%, #000000 70%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3c2415 -10%, #000000 70%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3c2415 -10%, #000000 70%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
        /* IE6-9 */
    }
}

.productPage .logo {
    position: absolute;
    z-index: 9;
    left: calc(33%);
    width: 130px;
    height: 130px;
    top: -15px;
    transform: translate(0px, 0%);
}

.productPage .cuadro-modal {
    bottom: 0%;
    transform: translate(0px, 40%);
    background-color: var(--lighter-brown);
    padding: 20px;
    height: 100vh;
    -webkit-animation: cuadro-modal 1s 1 ease;
    -moz-animation: cuadro-modal 1s 1 ease;
    -o-animation: cuadro-modal 1s 1 ease;
    -ms-animation: cuadro-modal 1s 1 ease;
    animation: cuadro-modal 1s 1 ease;
}

@keyframes cuadro-modal {
    0% {
        transform: translate(0px, 100%);
    }
    100% {
        transform: translate(0px, 40%);
    }
}

@-webkit-keyframes cuadro-modal {
    0% {
        transform: translate(0px, 100%);
    }
    100% {
        transform: translate(0px, 40%);
    }
}

.productPage .product-item {
    position: absolute;
    top: 0px;
    left: calc(22%);
    z-index: 10;
    width: 55%;
    display: block;
    margin: auto;
    transform: translate(0px, 0%);
}

.productPage .titlePage {
    text-align: center;
    color: var(--light-brown);
    font-size: 17px;
    padding-top: 15px;
}

.productPage .butonBack .fa {
    position: relative;
    z-index: 9;
    font-size: 34px;
    top: 0;
    left: 15px;
    color: var(--lighter-brown);
}

.productPage .product-item img {
    display: block;
    width: 80%;
    height: auto;
    position: relative;
    top: -5px;
    z-index: 20;
}

.productPage .info-product {
    position: absolute;
    top: 160px;
    left: 15px;
    z-index: 10;
    width: 90%;
    display: block;
    margin: auto
}

.productPage .info-product h1 {
    font-size: 26px;
    font-weight: 200;
}

.productPage .info-product h2 {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 10px
}

.productPage .info-product p {
    font-size: 16px;
    font-weight: 200;
}

.cardTitleProduct {
    display: grid;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(2, 12%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.cardTitleProduct h1 {
    font-size: 26px;
    font-weight: 200;
    display: flex;
}

.cardTitleProduct h2 {
    font-size: 20px;
    font-weight: 200;
    display: flex;
}

.cardTitleProduct .price {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-end;
    display: flex;
    color: var(--dark-brown);
}

.cardTitleProduct .stars {
    align-items: flex-start;
    padding-right: 33px;
}

.cardTitleProduct .stars ul li {
    list-style: none;
    font-size: 16px;
}

.lineamedio {
    height: 4px;
    width: 30%;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    background-color: #CCB092;
}

.color {}